MYSQL_DATABASE=yinghai_v2_dev
MYSQL_USER=yinghai
MYSQL_PASSWORD=yinghai_dev_password
MYSQL_ROOT_PASSWORD=yinghai_root_password
MYSQL_PORT=3306

REDIS_PASSWORD=yinghai_redis_password
REDIS_PORT=6379

NGINX_HTTP_PORT=8080
